%ul.list
  - 10.times do
    .well.row
      .col-sm-6.col-lg-6.col-xs-6.col-md-6
        asdfasjdfalsdjfsd
      .col-sm-6.col-lg-6.col-xs-6.col-md-6
        = link_to "remove", "javascript:void(0);", class: "btn btn-danger btn-remove-block"