= link_to "Click Me", "javascript:void(0);", class: "btn btn-primary"

:coffeescript
  $ ->
    classes      = ["btn-primary", "btn-info", "btn-danger"]
    currentIndex = 0
    $(".btn").on "click", ->
      $(@).toggleClass(classes[currentIndex])
      currentIndex = if currentIndex >= (classes.length - 1) then 0 else currentIndex + 1
      $(@).addClass classes[currentIndex]